* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

header {
    padding: 1.25rem 1.25rem 0 1.25rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .brand img {
    width: 2.5rem;
}

header .brand h1 {
    font-size: 1.5rem;
    color: #01528a;
    font-weight: 400;
    line-height: 2rem;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

header nav ul li {
    font-weight: 300;
    line-height: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #0889d4;
}

header nav ul li a.active {
    font-weight: 500;
    border-bottom: 2px solid #0889d4;
}

header nav button {
    background-color: #0889d4;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.875rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

main {}

#banner {
    height: 550px;
    border: 1px solid #dcdceb;
    background-color: #ffffff;
    border-radius: 0.625rem;
    color: #01528a;
    background-image: url(../img/background-house.png);
    background-repeat: no-repeat;
    background-position: right;

}

#banner .banner-content {
    width: 650px;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), #ffffff 50%);
}

#banner h3 {
    margin: 0;
}

#banner .banner-body1 {
    padding: 3.75rem 0 0 2.8rem;
    font-size: 4rem;
    font-weight: 300;
}

#banner .banner-body2 {
    margin-top: 1rem;
    margin-left: 2.8rem;
    font-size: 1.4rem;
    ;
}

section {
    margin-top: 4rem;
}

section h2 {
    /* T/B L/R */
    padding: 2rem 0;
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;
    color: #01528a;
    margin: 2rem 0;
}

#cards {}

#cards .cards-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cards .card {
    width: 530px;
    display: flex;
    gap: 1rem;
    box-shadow: rgb(0 0 0/20%) 0 2px 1px -1px, rgb(0 0 0/14%) 0 1px 1px 0, rgb(0 0 0/ 12%) 0 1px 3px 0;
    border-radius: 0.6rem;
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;
}

#cards .card img {
    width: 160px;
    height: 180px;

}

#cards .card h4 {
    font-weight: 400;
    margin-bottom: 0.8rem;

}

#cards .card p {
    font-weight: 300;
    text-align: justify;
    color: #8f8f90a6;
    max-height: 4.5rem;
    overflow: hidden;
    margin-bottom: 1.3rem;

}

#cards .card-price {
    position: absolute;
    display: flex;
    justify-content: end;
    right: 1rem;
    bottom: 1rem;
}

#cards .card-price p {
    background-color: #0889d4;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5 1rem;
    margin: 0;

}

#reasons {}

#reasons .reasons-content {
    display: flex;
    justify-content: space-between;

}

#reasons .reason {
    border-left: 2px solid #0889d4;

}

#reasons .reason:first-of-type {
    border-left: none;
}

#reasons .reason p{
    text-align: center;
}
#reasons .reason-value{
font-size: 2rem;
font-weight: 400;
}
#reasons .reason-label{}